<div>
    {%url 'home' as home_url %}
    <span>{% if request.path == home_url %}Home{%else%}<a href="{%url 'home'%}">Home</a></span>
    {%endif%}
    {%url 'cart' as cart_url %}
    <span>{% if request.path == cart_url %}Cart{%else%}<a href="{%url 'cart'%}">Cart</a></span>
    {%endif%}
    {%if user.is_authenticated %}
    {%url 'account' as account_url %}
    <span>{% if request.path == account_url %}Account{%else%}<a href="{%url 'account'%}">Account</a></span>
    {%endif%}
    {%endif%}
    
    <span style="float:right">
        {%if user.is_authenticated %}
        <span><a href="{%url 'logout'%}">Log out</a></span>
        <!-- add log out code -->
        {%else%}
        <span><a href="{%url 'login' %}">Login</a></span> 
        {%endif%}
    </span>

</div>